body {
background: lavenderblush url("images/django.png") no-repeat;
background-position: center;
background-size: 20%;
height: 500px;
}
title{
color: #c80;
font-weight: bold;

}
li a {
color: green;
}
h1{
    text-align:center;
    font-family: "Freehand591 BT";
}
